<h1 class="mt-4">Dashboard</h1>
<div class="d-flex p-2 justify-content-between">
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <a href="/student/add" class="btn btn-primary"> Add Student</a>
    <a href="/users/sign-out" class="btn btn-danger"> logout</a>
    <a href="/users/reset" class="btn btn-danger"> Reset Password </a>
</div>



